{
  "openapi": "3.1.0",
  "info": {
    "title": "AlpaTrade API",
    "description": "AlpaTrade's production REST API for research, backtesting, validation, paper trading,\nreconciliation, reporting, and the primary LangChain DeepAgents assistant.\n\nUse `Authorization: Bearer <JWT>` for user clients. Trusted services may use\n`X-API-Key`; include `X-User-Id` only when acting on behalf of a specific user.\nAll order and autonomy endpoints are paper-only.",
    "contact": {
      "name": "Predictive Labs",
      "url": "https://alpatrade.chat/developers"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "0.16.0"
  },
  "servers": [
    {
      "url": "https://api.alpatrade.chat",
      "description": "Production"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Api Info",
        "description": "Human- and machine-readable API discovery document.",
        "operationId": "api_info__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfoResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v2/agents": {
      "get": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Discover callable agents and their skills",
        "description": "Machine-readable catalogue of every supported agent, its canonical endpoint, skills, access boundary, execution model, and safety level. Direct browser visits are redirected to the formatted ReDoc reference; API clients continue to receive this typed JSON document.",
        "operationId": "v2_agent_catalog_v2_agents_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCatalogResponse"
                },
                "example": {
                  "agents": [
                    {
                      "slug": "deep-agent",
                      "name": "DeepAgent Assistant",
                      "category": "assistant",
                      "description": "Canonical durable, tenant-safe DeepAgents API with JSON or SSE responses.",
                      "method": "POST",
                      "path": "/v2/deepagents",
                      "access": "authenticated",
                      "execution": "streaming",
                      "safety": "paper_only",
                      "skills": [
                        "Portfolio and position analysis",
                        "Market news and company research",
                        "Backtest and reporting tool routing",
                        "Paper-account workflow assistance"
                      ]
                    },
                    {
                      "slug": "deep-agent-json-compat",
                      "name": "DeepAgent Assistant (JSON compatibility)",
                      "category": "assistant",
                      "description": "Compatibility JSON chat interface backed by the shared DeepAgents service.",
                      "method": "POST",
                      "path": "/v2/agents/chat/invoke",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "paper_only",
                      "skills": [
                        "Legacy request and response shape",
                        "Tenant-aware DeepAgents routing",
                        "Public research for service principals without a tenant",
                        "Single-response JSON transport"
                      ]
                    },
                    {
                      "slug": "deep-agent-stream",
                      "name": "DeepAgent Assistant (SSE)",
                      "category": "assistant",
                      "description": "Compatibility SSE chat; anonymous callers receive public research only.",
                      "method": "POST",
                      "path": "/v2/chat",
                      "access": "public",
                      "execution": "streaming",
                      "safety": "paper_only",
                      "skills": [
                        "Token-by-token conversational responses",
                        "Agent routing events",
                        "Tool execution events",
                        "Conversation-thread continuity"
                      ]
                    },
                    {
                      "slug": "premarket",
                      "name": "Premarket Agent",
                      "category": "research",
                      "description": "Read-only premarket scan and ranked mover intelligence.",
                      "method": "POST",
                      "path": "/v2/agents/premarket/invoke",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "read_only",
                      "skills": [
                        "Premarket mover discovery",
                        "Catalyst and news synthesis",
                        "Candidate ranking",
                        "Saved-scan retrieval"
                      ]
                    },
                    {
                      "slug": "alpha-growth",
                      "name": "Alpha Growth Agent",
                      "category": "research",
                      "description": "Evidence-backed growth-company research report.",
                      "method": "POST",
                      "path": "/v2/agents/alpha-growth/invoke",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "read_only",
                      "skills": [
                        "Growth-quality assessment",
                        "Fundamental evidence collection",
                        "Catalyst and risk analysis",
                        "Persistent research reports"
                      ]
                    },
                    {
                      "slug": "alpha-value",
                      "name": "Alpha Value Agent",
                      "category": "research",
                      "description": "Evidence-backed value-company research report.",
                      "method": "POST",
                      "path": "/v2/agents/alpha-value/invoke",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "read_only",
                      "skills": [
                        "Valuation and margin-of-safety review",
                        "Fundamental evidence collection",
                        "Catalyst and risk analysis",
                        "Persistent research reports"
                      ]
                    },
                    {
                      "slug": "alpha-compare",
                      "name": "Alpha Comparison Agent",
                      "category": "research",
                      "description": "Growth and value views generated from one shared evidence collection.",
                      "method": "POST",
                      "path": "/v2/agents/alpha-compare/invoke",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "read_only",
                      "skills": [
                        "Shared-evidence company research",
                        "Growth-versus-value comparison",
                        "Thesis conflict identification",
                        "Paired persistent reports"
                      ]
                    },
                    {
                      "slug": "backtest",
                      "name": "Backtest Agent",
                      "category": "analysis",
                      "description": "Run the parameter-grid backtest and return the best configuration.",
                      "method": "POST",
                      "path": "/v2/backtest",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "read_only",
                      "skills": [
                        "Strategy parameter sweeps",
                        "Historical performance analysis",
                        "Risk and drawdown metrics",
                        "Best-configuration selection"
                      ]
                    },
                    {
                      "slug": "validator",
                      "name": "Validation Agent",
                      "category": "analysis",
                      "description": "Validate stored backtest or paper trades against market data.",
                      "method": "POST",
                      "path": "/v2/validate",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "read_only",
                      "skills": [
                        "Trade-price verification",
                        "Anomaly detection",
                        "Fill correction checks",
                        "Validation suggestions"
                      ]
                    },
                    {
                      "slug": "reporter",
                      "name": "Report Agent",
                      "category": "analysis",
                      "description": "Return run summaries, detail, P&L, and ranked strategies.",
                      "method": "GET",
                      "path": "/v2/report",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "read_only",
                      "skills": [
                        "Run summary reporting",
                        "P&L breakdowns",
                        "Strategy ranking",
                        "Performance metric retrieval"
                      ]
                    },
                    {
                      "slug": "paper-trader",
                      "name": "Paper Trade Agent",
                      "category": "trading",
                      "description": "Start a durable paper-trading subprocess and return immediately.",
                      "method": "POST",
                      "path": "/v2/paper",
                      "access": "authenticated",
                      "execution": "asynchronous",
                      "safety": "paper_only",
                      "skills": [
                        "Durable paper-strategy execution",
                        "Configurable polling and duration",
                        "PDT-aware trade controls",
                        "Background run monitoring"
                      ]
                    },
                    {
                      "slug": "reconciler",
                      "name": "Reconciliation Agent",
                      "category": "trading",
                      "description": "Compare the position ledger with the linked Alpaca paper account.",
                      "method": "POST",
                      "path": "/v2/reconcile",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "paper_only",
                      "skills": [
                        "Position-ledger reconciliation",
                        "Trade mismatch detection",
                        "Missing and extra fill checks",
                        "Broker-versus-database P&L comparison"
                      ]
                    },
                    {
                      "slug": "orchestrator",
                      "name": "Five-Agent Orchestrator",
                      "category": "orchestration",
                      "description": "Run backtest, validation, paper trading, and reporting as one workflow.",
                      "method": "POST",
                      "path": "/v2/full",
                      "access": "authenticated",
                      "execution": "synchronous",
                      "safety": "orchestration",
                      "skills": [
                        "Multi-agent workflow coordination",
                        "Backtest-to-paper promotion",
                        "Phase status aggregation",
                        "End-to-end run reporting"
                      ]
                    },
                    {
                      "slug": "autonomy-scout",
                      "name": "Autonomy Scout",
                      "category": "orchestration",
                      "description": "Scan candidates and enqueue the durable paper-only agent pipeline.",
                      "method": "POST",
                      "path": "/v2/agents/autonomy-scout/invoke",
                      "access": "authenticated",
                      "execution": "asynchronous",
                      "safety": "paper_only",
                      "skills": [
                        "Market candidate scouting",
                        "Strategy-aware candidate ranking",
                        "Durable autonomy-run enqueueing",
                        "Paper-only account isolation"
                      ]
                    }
                  ],
                  "total": 14
                }
              }
            }
          },
          "307": {
            "description": "Browser navigation to the formatted API reference"
          }
        },
        "security": []
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Auth Register",
        "description": "Register a new user account.",
        "operationId": "auth_register_auth_register_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Auth Login",
        "description": "Authenticate and receive a JWT token.",
        "operationId": "auth_login_auth_login_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v2/runs": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Runs",
        "description": "List recent orchestrator runs.",
        "operationId": "v2_runs_v2_runs_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/trades": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Trades",
        "description": "Query trades with optional filters.",
        "operationId": "v2_trades_v2_trades_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Symbol"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/report": {
      "get": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Report Agent",
        "description": "List run summaries (performance overview).\n\n### Agent skills\n\n- Run summary reporting\n- P&L breakdowns\n- Strategy ranking\n- Performance metric retrieval\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `read_only`",
        "operationId": "v2_report_summary_v2_report_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          },
          {
            "name": "strategy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Strategy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReportSummaryItem"
                  },
                  "title": "Response V2 Report Summary V2 Report Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-slug": "reporter",
        "x-agent-category": "analysis",
        "x-agent-skills": [
          "Run summary reporting",
          "P&L breakdowns",
          "Strategy ranking",
          "Performance metric retrieval"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "read_only"
      }
    },
    "/v2/report/{run_id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Report Detail",
        "description": "Detailed performance report for a single run.",
        "operationId": "v2_report_detail_v2_report__run_id__get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/top": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Top",
        "description": "Rank strategy slugs by average performance.",
        "operationId": "v2_top_v2_top_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "strategy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Strategy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopStrategyItem"
                  },
                  "title": "Response V2 Top V2 Top Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/logs": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Logs",
        "description": "Read paper trading log tail.",
        "operationId": "v2_logs_v2_logs_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "lines",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Lines"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/pnl/{run_id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Pnl",
        "description": "P&L breakdown for a specific run \u2014 per-symbol and daily.",
        "operationId": "v2_pnl_v2_pnl__run_id__get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PnlResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/positions": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Positions",
        "description": "Return live paper positions, or query historical positions by run/status.\n\nThe default request used by the mobile Portfolio screen reads Alpaca so\nprices and unrealized P&L are current. Requests for a specific run or for\nnon-open history continue to use the database ledger.",
        "operationId": "v2_positions_v2_positions_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "'open' or 'closed'",
              "title": "Status"
            },
            "description": "'open' or 'closed'"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/status": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "V2 Status",
        "description": "Current orchestrator / agent status.",
        "operationId": "v2_status_v2_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/stop": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "V2 Stop",
        "description": "Stop a running background agent (subprocess or in-memory task).",
        "operationId": "v2_stop_v2_stop_post",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specific run_id to stop. If omitted, stops the most recent agent.",
              "title": "Run Id"
            },
            "description": "Specific run_id to stop. If omitted, stops the most recent agent."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/backtest": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Backtest Agent",
        "description": "Run a parameterized backtest. Synchronous \u2014 may take minutes.\n\n### Agent skills\n\n- Strategy parameter sweeps\n- Historical performance analysis\n- Risk and drawdown metrics\n- Best-configuration selection\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `read_only`",
        "operationId": "v2_backtest_v2_backtest_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BacktestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BacktestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "backtest",
        "x-agent-category": "analysis",
        "x-agent-skills": [
          "Strategy parameter sweeps",
          "Historical performance analysis",
          "Risk and drawdown metrics",
          "Best-configuration selection"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "read_only"
      }
    },
    "/v2/validate": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Validation Agent",
        "description": "Validate trades for a given run. Synchronous.\n\n### Agent skills\n\n- Trade-price verification\n- Anomaly detection\n- Fill correction checks\n- Validation suggestions\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `read_only`",
        "operationId": "v2_validate_v2_validate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "validator",
        "x-agent-category": "analysis",
        "x-agent-skills": [
          "Trade-price verification",
          "Anomaly detection",
          "Fill correction checks",
          "Validation suggestions"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "read_only"
      }
    },
    "/v2/paper": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Paper Trade Agent",
        "description": "Start paper trading as an autonomous subprocess. Returns immediately.\n\n### Agent skills\n\n- Durable paper-strategy execution\n- Configurable polling and duration\n- PDT-aware trade controls\n- Background run monitoring\n\n**Execution:** `asynchronous`  \n**Access:** `authenticated`  \n**Safety:** `paper_only`",
        "operationId": "v2_paper_v2_paper_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaperRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaperStartResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "paper-trader",
        "x-agent-category": "trading",
        "x-agent-skills": [
          "Durable paper-strategy execution",
          "Configurable polling and duration",
          "PDT-aware trade controls",
          "Background run monitoring"
        ],
        "x-agent-execution": "asynchronous",
        "x-agent-safety": "paper_only"
      }
    },
    "/v2/full": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Five-Agent Orchestrator",
        "description": "Run full cycle: backtest -> validate -> paper -> validate. Synchronous \u2014 long-running.\n\n### Agent skills\n\n- Multi-agent workflow coordination\n- Backtest-to-paper promotion\n- Phase status aggregation\n- End-to-end run reporting\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `orchestration`",
        "operationId": "v2_full_v2_full_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullCycleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullCycleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "orchestrator",
        "x-agent-category": "orchestration",
        "x-agent-skills": [
          "Multi-agent workflow coordination",
          "Backtest-to-paper promotion",
          "Phase status aggregation",
          "End-to-end run reporting"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "orchestration"
      }
    },
    "/v2/reconcile": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Reconciliation Agent",
        "description": "Reconcile DB positions vs Alpaca holdings. Synchronous.\n\n### Agent skills\n\n- Position-ledger reconciliation\n- Trade mismatch detection\n- Missing and extra fill checks\n- Broker-versus-database P&L comparison\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `paper_only`",
        "operationId": "v2_reconcile_v2_reconcile_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconcileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconcileResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "reconciler",
        "x-agent-category": "trading",
        "x-agent-skills": [
          "Position-ledger reconciliation",
          "Trade mismatch detection",
          "Missing and extra fill checks",
          "Broker-versus-database P&L comparison"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "paper_only"
      }
    },
    "/v2/deepagents": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Stream DeepAgent Assistant",
        "description": "Append messages to an owned durable thread and invoke DeepAgents.\n\nClient message UUIDs are idempotency keys. Completed and failed requests\nreplay their recorded response; running duplicates and concurrent calls on\nthe same thread return 409. Tool traces are deliberately metadata-only.\n\n### Agent skills\n\n- Portfolio and position analysis\n- Market news and company research\n- Backtest and reporting tool routing\n- Paper-account workflow assistance\n\n**Execution:** `streaming`  \n**Access:** `authenticated`  \n**Safety:** `paper_only`",
        "operationId": "v2_deepagents_v2_deepagents_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeepAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Completed JSON response or Server-Sent Events when stream=true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepAgentResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: session\ndata: {\"thread_id\":\"...\"}\n\nevent: token\ndata: {\"content\":\"...\"}\n\nevent: done\ndata: {\"response\":{}}\n\n"
              }
            }
          },
          "409": {
            "description": "Duplicate response is still running or thread is busy."
          },
          "503": {
            "description": "DeepAgents, its model, or PostgreSQL checkpoints are unavailable."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "deep-agent",
        "x-agent-category": "assistant",
        "x-agent-skills": [
          "Portfolio and position analysis",
          "Market news and company research",
          "Backtest and reporting tool routing",
          "Paper-account workflow assistance"
        ],
        "x-agent-execution": "streaming",
        "x-agent-safety": "paper_only"
      }
    },
    "/v2/agents/chat/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke DeepAgent Assistant (JSON compatibility)",
        "description": "Run the same DeepAgents harness as web/mobile without requiring SSE parsing.\n\n### Agent skills\n\n- Legacy request and response shape\n- Tenant-aware DeepAgents routing\n- Public research for service principals without a tenant\n- Single-response JSON transport\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `paper_only`",
        "operationId": "v2_invoke_chat_v2_agents_chat_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentChatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentChatResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "deep-agent-json-compat",
        "x-agent-category": "assistant",
        "x-agent-skills": [
          "Legacy request and response shape",
          "Tenant-aware DeepAgents routing",
          "Public research for service principals without a tenant",
          "Single-response JSON transport"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "paper_only"
      }
    },
    "/v2/agents/premarket/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Premarket Agent",
        "description": "Run the read-only Premarket Agent.\n\n### Agent skills\n\n- Premarket mover discovery\n- Catalyst and news synthesis\n- Candidate ranking\n- Saved-scan retrieval\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `read_only`",
        "operationId": "v2_invoke_premarket_v2_agents_premarket_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PremarketAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PremarketAgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "premarket",
        "x-agent-category": "research",
        "x-agent-skills": [
          "Premarket mover discovery",
          "Catalyst and news synthesis",
          "Candidate ranking",
          "Saved-scan retrieval"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "read_only"
      }
    },
    "/v2/agents/alpha-growth/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Alpha Growth Agent",
        "description": "Run a read-only Growth methodology report.\n\n### Agent skills\n\n- Growth-quality assessment\n- Fundamental evidence collection\n- Catalyst and risk analysis\n- Persistent research reports\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `read_only`",
        "operationId": "v2_invoke_alpha_growth_v2_agents_alpha_growth_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlphaResearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlphaResearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "alpha-growth",
        "x-agent-category": "research",
        "x-agent-skills": [
          "Growth-quality assessment",
          "Fundamental evidence collection",
          "Catalyst and risk analysis",
          "Persistent research reports"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "read_only"
      }
    },
    "/v2/agents/alpha-value/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Alpha Value Agent",
        "description": "Run a read-only Value methodology report.\n\n### Agent skills\n\n- Valuation and margin-of-safety review\n- Fundamental evidence collection\n- Catalyst and risk analysis\n- Persistent research reports\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `read_only`",
        "operationId": "v2_invoke_alpha_value_v2_agents_alpha_value_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlphaResearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlphaResearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "alpha-value",
        "x-agent-category": "research",
        "x-agent-skills": [
          "Valuation and margin-of-safety review",
          "Fundamental evidence collection",
          "Catalyst and risk analysis",
          "Persistent research reports"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "read_only"
      }
    },
    "/v2/agents/alpha-compare/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Alpha Comparison Agent",
        "description": "Run Growth and Value agents over a shared evidence collection.\n\n### Agent skills\n\n- Shared-evidence company research\n- Growth-versus-value comparison\n- Thesis conflict identification\n- Paired persistent reports\n\n**Execution:** `synchronous`  \n**Access:** `authenticated`  \n**Safety:** `read_only`",
        "operationId": "v2_invoke_alpha_compare_v2_agents_alpha_compare_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlphaResearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlphaComparisonResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "alpha-compare",
        "x-agent-category": "research",
        "x-agent-skills": [
          "Shared-evidence company research",
          "Growth-versus-value comparison",
          "Thesis conflict identification",
          "Paired persistent reports"
        ],
        "x-agent-execution": "synchronous",
        "x-agent-safety": "read_only"
      }
    },
    "/v2/agents/autonomy-scout/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke Autonomy Scout",
        "description": "Scan candidates and enqueue the durable paper-only autonomy pipeline.\n\n### Agent skills\n\n- Market candidate scouting\n- Strategy-aware candidate ranking\n- Durable autonomy-run enqueueing\n- Paper-only account isolation\n\n**Execution:** `asynchronous`  \n**Access:** `authenticated`  \n**Safety:** `paper_only`",
        "operationId": "v2_invoke_autonomy_scout_v2_agents_autonomy_scout_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutonomyScoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutonomyScoutResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "x-agent-slug": "autonomy-scout",
        "x-agent-category": "orchestration",
        "x-agent-skills": [
          "Market candidate scouting",
          "Strategy-aware candidate ranking",
          "Durable autonomy-run enqueueing",
          "Paper-only account isolation"
        ],
        "x-agent-execution": "asynchronous",
        "x-agent-safety": "paper_only"
      }
    },
    "/health": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Liveness check",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": []
      }
    },
    "/cmd": {
      "post": {
        "tags": [
          "legacy"
        ],
        "summary": "Cmd",
        "description": "Execute an arbitrary CLI command (returns markdown).",
        "operationId": "cmd_cmd_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CmdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/runs": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Runs",
        "operationId": "runs_runs_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/trades": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Trades",
        "operationId": "trades_trades_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/report": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Report",
        "operationId": "report_report_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          },
          {
            "name": "strategy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Strategy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/top": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Top",
        "operationId": "top_top_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "strategy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Strategy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/backtest": {
      "post": {
        "tags": [
          "legacy"
        ],
        "summary": "Backtest",
        "operationId": "backtest_backtest_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BacktestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/paper": {
      "post": {
        "tags": [
          "legacy"
        ],
        "summary": "Paper",
        "operationId": "paper_paper_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaperRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/status": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Status",
        "operationId": "status_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/news": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "News",
        "operationId": "news_news_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ticker"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Provider"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/price": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Price",
        "operationId": "price_price_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticker"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Profile",
        "operationId": "profile_profile_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticker"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/movers": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Movers",
        "operationId": "movers_movers_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Direction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/chat": {
      "get": {
        "summary": "Chat Stream",
        "description": "SSE endpoint for streaming chat responses (legacy).",
        "operationId": "chat_stream_chat_get",
        "parameters": [
          {
            "name": "question",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Question"
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "api_default",
              "title": "Thread Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v2/chat": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Stream DeepAgent Assistant (SSE)",
        "description": "Streaming chat for the mobile app \u2014 the SAME router as the web chat.\n\nAuth: optional `Authorization: Bearer <JWT>`. Authenticated users may use\ncaller-owned portfolio and paper-action tools. Anonymous callers receive\npublic market/research tools only and never use server broker credentials.\n\nBody (JSON or form-encoded): `msg` (or `message`), `thread_id` (or `sid`).\n\nResponse: `text/event-stream` with named SSE events \u2014\n  session \u00b7 agent_route \u00b7 token \u00b7 tool_start \u00b7 tool_end \u00b7 error \u00b7 done\n(`data:` is JSON). This matches the web chat event contract.\n\n### Agent skills\n\n- Token-by-token conversational responses\n- Agent routing events\n- Tool execution events\n- Conversation-thread continuity\n\n**Execution:** `streaming`  \n**Access:** `public`  \n**Safety:** `paper_only`",
        "operationId": "v2_chat_v2_chat_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "msg": {
                    "type": "string",
                    "description": "The user message / prompt.",
                    "example": "Show me my positions"
                  },
                  "thread_id": {
                    "type": "string",
                    "description": "Conversation id. Authenticated callers receive durable continuity; anonymous calls use it only as a correlation label.",
                    "example": "mobile-1"
                  }
                },
                "type": "object",
                "required": [
                  "msg"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "msg": {
                    "type": "string"
                  },
                  "thread_id": {
                    "type": "string"
                  }
                },
                "type": "object",
                "required": [
                  "msg"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Server-Sent Events stream. Each event is `event: <type>` + `data: <json>`. Types: session \u00b7 agent_route \u00b7 token \u00b7 tool_start \u00b7 tool_end \u00b7 error \u00b7 done. `token.text` chunks concatenate into the assistant reply (markdown).",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: session\\ndata: {\"sid\": \"mobile-1\"}\\n\\nevent: token\\ndata: {\"text\": \"MSFT position: 2 shares\"}\\n\\nevent: done\\ndata: {}\\n\\n"
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          },
          {}
        ],
        "x-agent-slug": "deep-agent-stream",
        "x-agent-category": "assistant",
        "x-agent-skills": [
          "Token-by-token conversational responses",
          "Agent routing events",
          "Tool execution events",
          "Conversation-thread continuity"
        ],
        "x-agent-execution": "streaming",
        "x-agent-safety": "paper_only"
      }
    },
    "/v2/order": {
      "post": {
        "tags": [
          "trading"
        ],
        "summary": "Place a PAPER order (market or limit)",
        "description": "Place a **paper** (simulated) market or limit order on the primary paper\naccount linked to the authenticated user. No real money. For a limit order set `order_type=limit` and\n`limit_price`. Returns the created order id + status.",
        "operationId": "v2_order_v2_order_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/install.sh": {
      "get": {
        "summary": "Install Sh",
        "operationId": "install_sh_install_sh_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {
      "AgentCatalogResponse": {
        "properties": {
          "agents": {
            "items": {
              "$ref": "#/components/schemas/AgentDescriptor"
            },
            "type": "array",
            "title": "Agents"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          }
        },
        "type": "object",
        "required": [
          "agents",
          "total"
        ],
        "title": "AgentCatalogResponse"
      },
      "AgentChatRequest": {
        "properties": {
          "message": {
            "type": "string",
            "maxLength": 20000,
            "minLength": 1,
            "title": "Message"
          },
          "thread_id": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Thread Id",
            "default": "service_default"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "AgentChatRequest",
        "examples": [
          {
            "message": "Summarize my open positions",
            "thread_id": "portfolio-review-1"
          }
        ]
      },
      "AgentChatResponse": {
        "properties": {
          "thread_id": {
            "type": "string",
            "title": "Thread Id"
          },
          "response": {
            "type": "string",
            "title": "Response"
          },
          "route": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Route"
          },
          "tools_used": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tools Used"
          }
        },
        "type": "object",
        "required": [
          "thread_id",
          "response"
        ],
        "title": "AgentChatResponse"
      },
      "AgentDescriptor": {
        "properties": {
          "slug": {
            "type": "string",
            "title": "Slug"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "category": {
            "type": "string",
            "enum": [
              "assistant",
              "research",
              "analysis",
              "trading",
              "orchestration"
            ],
            "title": "Category"
          },
          "description": {
            "type": "string",
            "title": "Description"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "title": "Method"
          },
          "path": {
            "type": "string",
            "title": "Path"
          },
          "access": {
            "type": "string",
            "enum": [
              "authenticated",
              "public"
            ],
            "title": "Access",
            "default": "authenticated"
          },
          "execution": {
            "type": "string",
            "enum": [
              "synchronous",
              "asynchronous",
              "streaming"
            ],
            "title": "Execution"
          },
          "safety": {
            "type": "string",
            "enum": [
              "read_only",
              "paper_only",
              "orchestration"
            ],
            "title": "Safety"
          },
          "skills": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Skills",
            "description": "Stable, human-readable capabilities exposed by this agent."
          }
        },
        "type": "object",
        "required": [
          "slug",
          "name",
          "category",
          "description",
          "method",
          "path",
          "execution",
          "safety",
          "skills"
        ],
        "title": "AgentDescriptor"
      },
      "AgentStatus": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "current_task": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Task"
          }
        },
        "type": "object",
        "required": [
          "name",
          "status"
        ],
        "title": "AgentStatus"
      },
      "AlphaComparisonResponse": {
        "properties": {
          "ticker": {
            "type": "string",
            "title": "Ticker"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "growth": {
            "$ref": "#/components/schemas/AlphaResearchResponse"
          },
          "value": {
            "$ref": "#/components/schemas/AlphaResearchResponse"
          }
        },
        "type": "object",
        "required": [
          "ticker",
          "status",
          "growth",
          "value"
        ],
        "title": "AlphaComparisonResponse"
      },
      "AlphaResearchRequest": {
        "properties": {
          "ticker": {
            "type": "string",
            "maxLength": 16,
            "minLength": 1,
            "title": "Ticker",
            "examples": [
              "AAPL"
            ]
          }
        },
        "type": "object",
        "required": [
          "ticker"
        ],
        "title": "AlphaResearchRequest"
      },
      "AlphaResearchResponse": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "mode": {
            "type": "string",
            "enum": [
              "growth",
              "value"
            ],
            "title": "Mode"
          },
          "ticker": {
            "type": "string",
            "title": "Ticker"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "report": {
            "type": "string",
            "title": "Report"
          },
          "saved": {
            "type": "boolean",
            "title": "Saved"
          },
          "persistence_warning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Persistence Warning"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "mode",
          "ticker",
          "status",
          "report",
          "saved"
        ],
        "title": "AlphaResearchResponse"
      },
      "ApiInfoResponse": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "version": {
            "type": "string",
            "title": "Version"
          },
          "status": {
            "type": "string",
            "const": "ok",
            "title": "Status",
            "default": "ok"
          },
          "links": {
            "$ref": "#/components/schemas/ApiLinks"
          }
        },
        "type": "object",
        "required": [
          "name",
          "version",
          "links"
        ],
        "title": "ApiInfoResponse"
      },
      "ApiLinks": {
        "properties": {
          "swagger": {
            "type": "string",
            "title": "Swagger"
          },
          "redoc": {
            "type": "string",
            "title": "Redoc"
          },
          "openapi": {
            "type": "string",
            "title": "Openapi"
          },
          "health": {
            "type": "string",
            "title": "Health"
          },
          "agents": {
            "type": "string",
            "title": "Agents"
          }
        },
        "type": "object",
        "required": [
          "swagger",
          "redoc",
          "openapi",
          "health",
          "agents"
        ],
        "title": "ApiLinks"
      },
      "ApiResponse": {
        "properties": {
          "result": {
            "type": "string",
            "title": "Result"
          },
          "status": {
            "type": "string",
            "title": "Status"
          }
        },
        "type": "object",
        "required": [
          "result",
          "status"
        ],
        "title": "ApiResponse",
        "description": "Legacy response wrapper (markdown string)."
      },
      "AuthRequest": {
        "properties": {
          "email": {
            "type": "string",
            "title": "Email"
          },
          "password": {
            "type": "string",
            "title": "Password"
          }
        },
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "title": "AuthRequest"
      },
      "AuthResponse": {
        "properties": {
          "token": {
            "type": "string",
            "title": "Token"
          },
          "user_id": {
            "type": "string",
            "title": "User Id"
          },
          "email": {
            "type": "string",
            "title": "Email"
          }
        },
        "type": "object",
        "required": [
          "token",
          "user_id",
          "email"
        ],
        "title": "AuthResponse"
      },
      "AutonomyScoutRequest": {
        "properties": {
          "strategy": {
            "type": "string",
            "title": "Strategy",
            "description": "Strategy slug or registered strategy name",
            "default": "btd"
          },
          "limit": {
            "type": "integer",
            "maximum": 20.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 5
          },
          "account_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Id",
            "description": "Owned paper account UUID"
          }
        },
        "type": "object",
        "title": "AutonomyScoutRequest"
      },
      "AutonomyScoutResponse": {
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "no_candidates"
            ],
            "title": "Status"
          },
          "run_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Run Id"
          },
          "paper_only": {
            "type": "boolean",
            "title": "Paper Only",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "AutonomyScoutResponse"
      },
      "BacktestRequest": {
        "properties": {
          "account_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Id",
            "description": "Specific AlpaTrade account_id snippet to run the backtest under (optional)"
          },
          "lookback": {
            "type": "string",
            "title": "Lookback",
            "description": "Lookback period, e.g. '3m', '6m', '1y'",
            "default": "3m"
          },
          "symbols": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Symbols",
            "description": "Comma-separated symbols, e.g. 'AAPL,MSFT'"
          },
          "strategy": {
            "type": "string",
            "title": "Strategy",
            "description": "Strategy name: buy_the_dip, vix, momentum, box_wedge",
            "default": "buy_the_dip"
          },
          "capital": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Capital",
            "description": "Initial capital in USD"
          },
          "hours": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Hours",
            "description": "'regular' or 'extended'"
          },
          "intraday_exit": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Intraday Exit",
            "description": "Use 5-min intraday bars for TP/SL exits"
          },
          "pdt": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pdt",
            "description": "Enforce PDT rule (default True, set False for >$25k accounts)"
          }
        },
        "type": "object",
        "title": "BacktestRequest",
        "examples": [
          {
            "capital": 10000,
            "lookback": "3m",
            "strategy": "buy_the_dip"
          }
        ]
      },
      "BacktestResponse": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "strategy": {
            "type": "string",
            "title": "Strategy"
          },
          "total_variations": {
            "type": "integer",
            "title": "Total Variations",
            "default": 0
          },
          "best_config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BestConfig"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "title": "Status",
            "default": "completed"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "strategy"
        ],
        "title": "BacktestResponse"
      },
      "BestConfig": {
        "properties": {
          "sharpe_ratio": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sharpe Ratio"
          },
          "total_return": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Return"
          },
          "annualized_return": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Annualized Return"
          },
          "total_pnl": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Pnl"
          },
          "win_rate": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Win Rate"
          },
          "total_trades": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Trades"
          },
          "max_drawdown": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Drawdown"
          },
          "params": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Params"
          }
        },
        "type": "object",
        "title": "BestConfig"
      },
      "CmdRequest": {
        "properties": {
          "command": {
            "type": "string",
            "title": "Command"
          }
        },
        "type": "object",
        "required": [
          "command"
        ],
        "title": "CmdRequest"
      },
      "DailyPnl": {
        "properties": {
          "date": {
            "type": "string",
            "title": "Date"
          },
          "pnl": {
            "type": "number",
            "title": "Pnl",
            "default": 0
          },
          "trade_count": {
            "type": "integer",
            "title": "Trade Count",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "date"
        ],
        "title": "DailyPnl"
      },
      "DeepAgentMessageRequest": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Stable client-generated UUID used for idempotency"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "title": "Role"
          },
          "content": {
            "type": "string",
            "maxLength": 20000,
            "minLength": 1,
            "title": "Content"
          }
        },
        "type": "object",
        "required": [
          "id",
          "role",
          "content"
        ],
        "title": "DeepAgentMessageRequest",
        "description": "One append-only client message for a durable DeepAgent thread."
      },
      "DeepAgentModelInfo": {
        "properties": {
          "provider": {
            "type": "string",
            "title": "Provider"
          },
          "name": {
            "type": "string",
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "provider",
          "name"
        ],
        "title": "DeepAgentModelInfo"
      },
      "DeepAgentOutputMessage": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "role": {
            "type": "string",
            "const": "assistant",
            "title": "Role",
[...]
