{
  "openapi": "3.1.0",
  "info": {
    "title": "AlpaTrade API",
    "description": "AlpaTrade's production REST API for research, backtesting, validation, paper trading,\nreconciliation, reporting, and the primary LangChain DeepAgents assistant.\n\nUse `Authorization: Bearer <JWT>` for user clients. Trusted services may use\n`X-API-Key`; include `X-User-Id` only when acting on behalf of a specific user.\nAll order and autonomy endpoints are paper-only.",
    "contact": {
      "name": "Predictive Labs",
      "url": "https://alpatrade.chat/developers"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "0.8.0"
  },
  "servers": [
    {
      "url": "https://api.alpatrade.chat",
      "description": "Production"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Api Info",
        "description": "Human- and machine-readable API discovery document.",
        "operationId": "api_info__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agents": {
      "get": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "V2 Agent Catalog",
        "description": "List callable agents and their canonical typed endpoints.",
        "operationId": "v2_agent_catalog_v2_agents_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCatalogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Auth Register",
        "description": "Register a new user account.",
        "operationId": "auth_register_auth_register_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Auth Login",
        "description": "Authenticate and receive a JWT token.",
        "operationId": "auth_login_auth_login_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/runs": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Runs",
        "description": "List recent orchestrator runs.",
        "operationId": "v2_runs_v2_runs_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/trades": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Trades",
        "description": "Query trades with optional filters.",
        "operationId": "v2_trades_v2_trades_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Symbol"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/report": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Report Summary",
        "description": "List run summaries (performance overview).",
        "operationId": "v2_report_summary_v2_report_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          },
          {
            "name": "strategy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Strategy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReportSummaryItem"
                  },
                  "title": "Response V2 Report Summary V2 Report Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/report/{run_id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Report Detail",
        "description": "Detailed performance report for a single run.",
        "operationId": "v2_report_detail_v2_report__run_id__get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/top": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Top",
        "description": "Rank strategy slugs by average performance.",
        "operationId": "v2_top_v2_top_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "strategy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Strategy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopStrategyItem"
                  },
                  "title": "Response V2 Top V2 Top Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/logs": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Logs",
        "description": "Read paper trading log tail.",
        "operationId": "v2_logs_v2_logs_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "lines",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Lines"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/pnl/{run_id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Pnl",
        "description": "P&L breakdown for a specific run \u2014 per-symbol and daily.",
        "operationId": "v2_pnl_v2_pnl__run_id__get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PnlResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/positions": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "V2 Positions",
        "description": "Return live paper positions, or query historical positions by run/status.\n\nThe default request used by the mobile Portfolio screen reads Alpaca so\nprices and unrealized P&L are current. Requests for a specific run or for\nnon-open history continue to use the database ledger.",
        "operationId": "v2_positions_v2_positions_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "'open' or 'closed'",
              "title": "Status"
            },
            "description": "'open' or 'closed'"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/status": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "V2 Status",
        "description": "Current orchestrator / agent status.",
        "operationId": "v2_status_v2_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/stop": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "V2 Stop",
        "description": "Stop a running background agent (subprocess or in-memory task).",
        "operationId": "v2_stop_v2_stop_post",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specific run_id to stop. If omitted, stops the most recent agent.",
              "title": "Run Id"
            },
            "description": "Specific run_id to stop. If omitted, stops the most recent agent."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/backtest": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "V2 Backtest",
        "description": "Run a parameterized backtest. Synchronous \u2014 may take minutes.",
        "operationId": "v2_backtest_v2_backtest_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BacktestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BacktestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/validate": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "V2 Validate",
        "description": "Validate trades for a given run. Synchronous.",
        "operationId": "v2_validate_v2_validate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/paper": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "V2 Paper",
        "description": "Start paper trading as an autonomous subprocess. Returns immediately.",
        "operationId": "v2_paper_v2_paper_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaperRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaperStartResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/full": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "V2 Full",
        "description": "Run full cycle: backtest -> validate -> paper -> validate. Synchronous \u2014 long-running.",
        "operationId": "v2_full_v2_full_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullCycleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullCycleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/reconcile": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "V2 Reconcile",
        "description": "Reconcile DB positions vs Alpaca holdings. Synchronous.",
        "operationId": "v2_reconcile_v2_reconcile_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconcileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconcileResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/agents/chat/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "Invoke the primary DeepAgent and return one JSON response",
        "description": "Run the same DeepAgents harness as web/mobile without requiring SSE parsing.",
        "operationId": "v2_invoke_chat_v2_agents_chat_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentChatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentChatResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/agents/premarket/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "V2 Invoke Premarket",
        "description": "Run the read-only Premarket Agent.",
        "operationId": "v2_invoke_premarket_v2_agents_premarket_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PremarketAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PremarketAgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/agents/alpha-growth/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "V2 Invoke Alpha Growth",
        "description": "Run a read-only Growth methodology report.",
        "operationId": "v2_invoke_alpha_growth_v2_agents_alpha_growth_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlphaResearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlphaResearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/agents/alpha-value/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "V2 Invoke Alpha Value",
        "description": "Run a read-only Value methodology report.",
        "operationId": "v2_invoke_alpha_value_v2_agents_alpha_value_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlphaResearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlphaResearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/agents/alpha-compare/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "V2 Invoke Alpha Compare",
        "description": "Run Growth and Value agents over a shared evidence collection.",
        "operationId": "v2_invoke_alpha_compare_v2_agents_alpha_compare_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlphaResearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlphaComparisonResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/v2/agents/autonomy-scout/invoke": {
      "post": {
        "tags": [
          "agent-invocation"
        ],
        "summary": "V2 Invoke Autonomy Scout",
        "description": "Scan candidates and enqueue the durable paper-only autonomy pipeline.",
        "operationId": "v2_invoke_autonomy_scout_v2_agents_autonomy_scout_invoke_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutonomyScoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutonomyScoutResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "Liveness check",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/cmd": {
      "post": {
        "tags": [
          "legacy"
        ],
        "summary": "Cmd",
        "description": "Execute an arbitrary CLI command (returns markdown).",
        "operationId": "cmd_cmd_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CmdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/runs": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Runs",
        "operationId": "runs_runs_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/trades": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Trades",
        "operationId": "trades_trades_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/report": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Report",
        "operationId": "report_report_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Type"
            }
          },
          {
            "name": "strategy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Strategy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/top": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Top",
        "operationId": "top_top_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "strategy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Strategy"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/backtest": {
      "post": {
        "tags": [
          "legacy"
        ],
        "summary": "Backtest",
        "operationId": "backtest_backtest_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BacktestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/paper": {
      "post": {
        "tags": [
          "legacy"
        ],
        "summary": "Paper",
        "operationId": "paper_paper_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaperRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/status": {
      "get": {
        "tags": [
          "legacy"
        ],
        "summary": "Status",
        "operationId": "status_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/news": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "News",
        "operationId": "news_news_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ticker"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Provider"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/price": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Price",
        "operationId": "price_price_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticker"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Profile",
        "operationId": "profile_profile_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticker"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/movers": {
      "get": {
        "tags": [
          "market"
        ],
        "summary": "Movers",
        "operationId": "movers_movers_get",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Direction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/chat": {
      "get": {
        "summary": "Chat Stream",
        "description": "SSE endpoint for streaming chat responses (legacy).",
        "operationId": "chat_stream_chat_get",
        "parameters": [
          {
            "name": "question",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Question"
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "api_default",
              "title": "Thread Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/chat": {
      "post": {
        "tags": [
          "chat"
        ],
        "summary": "Streaming chat (SSE) \u2014 same router as the web chat",
        "description": "Streaming chat for the mobile app \u2014 the SAME router as the web chat.\n\nAuth: optional `Authorization: Bearer <JWT>` (authed users trade under their own\nlinked Alpaca account; anonymous falls back to the server's paper keys).\n\nBody (JSON or form-encoded): `msg` (or `message`), `thread_id` (or `sid`).\n\nResponse: `text/event-stream` with named SSE events \u2014\n  session \u00b7 agent_route \u00b7 token \u00b7 tool_start \u00b7 tool_end \u00b7 error \u00b7 done\n(`data:` is JSON). This matches the web chat event contract.",
        "operationId": "v2_chat_v2_chat_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "msg": {
                    "type": "string",
                    "description": "The user message / prompt.",
                    "example": "Show me my positions"
                  },
                  "thread_id": {
                    "type": "string",
                    "description": "Conversation id for history continuity.",
                    "example": "mobile-1"
                  }
                },
                "type": "object",
                "required": [
                  "msg"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "msg": {
                    "type": "string"
                  },
                  "thread_id": {
                    "type": "string"
                  }
                },
                "type": "object",
                "required": [
                  "msg"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Server-Sent Events stream. Each event is `event: <type>` + `data: <json>`. Types: session \u00b7 agent_route \u00b7 token \u00b7 tool_start \u00b7 tool_end \u00b7 error \u00b7 done. `token.text` chunks concatenate into the assistant reply (markdown).",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: session\\ndata: {\"sid\": \"mobile-1\"}\\n\\nevent: token\\ndata: {\"text\": \"MSFT position: 2 shares\"}\\n\\nevent: done\\ndata: {}\\n\\n"
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          },
          {}
        ]
      }
    },
    "/v2/order": {
      "post": {
        "tags": [
          "trading"
        ],
        "summary": "Place a PAPER order (market or limit)",
        "description": "Place a **paper** (simulated) market or limit order on the primary paper\naccount linked to the authenticated user. No real money. For a limit order set `order_type=limit` and\n`limit_price`. Returns the created order id + status.",
        "operationId": "v2_order_v2_order_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ServiceApiKey": []
          }
        ]
      }
    },
    "/install.sh": {
      "get": {
        "summary": "Install Sh",
        "operationId": "install_sh_install_sh_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentCatalogResponse": {
        "properties": {
          "agents": {
            "items": {
              "$ref": "#/components/schemas/AgentDescriptor"
            },
            "type": "array",
            "title": "Agents"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          }
        },
        "type": "object",
        "required": [
          "agents",
          "total"
        ],
        "title": "AgentCatalogResponse"
      },
      "AgentChatRequest": {
        "properties": {
          "message": {
            "type": "string",
            "maxLength": 20000,
            "minLength": 1,
            "title": "Message"
          },
          "thread_id": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Thread Id",
            "default": "service_default"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "AgentChatRequest",
        "examples": [
          {
            "message": "Summarize my open positions",
            "thread_id": "portfolio-review-1"
          }
        ]
      },
      "AgentChatResponse": {
        "properties": {
          "thread_id": {
            "type": "string",
            "title": "Thread Id"
          },
          "response": {
            "type": "string",
            "title": "Response"
          },
          "route": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Route"
          },
          "tools_used": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tools Used"
          }
        },
        "type": "object",
        "required": [
          "thread_id",
          "response"
        ],
        "title": "AgentChatResponse"
      },
      "AgentDescriptor": {
        "properties": {
          "slug": {
            "type": "string",
            "title": "Slug"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "type": "string",
            "title": "Description"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ],
            "title": "Method"
          },
          "path": {
            "type": "string",
            "title": "Path"
          },
          "access": {
            "type": "string",
            "enum": [
              "authenticated",
              "public"
            ],
            "title": "Access",
            "default": "authenticated"
          },
          "execution": {
            "type": "string",
            "enum": [
              "synchronous",
              "asynchronous",
              "streaming"
            ],
            "title": "Execution"
          },
          "safety": {
            "type": "string",
            "enum": [
              "read_only",
              "paper_only",
              "orchestration"
            ],
            "title": "Safety"
          }
        },
        "type": "object",
        "required": [
          "slug",
          "name",
          "description",
          "method",
          "path",
          "execution",
          "safety"
        ],
        "title": "AgentDescriptor"
      },
      "AgentStatus": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "current_task": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Task"
          }
        },
        "type": "object",
        "required": [
          "name",
          "status"
        ],
        "title": "AgentStatus"
      },
      "AlphaComparisonResponse": {
        "properties": {
          "ticker": {
            "type": "string",
            "title": "Ticker"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "growth": {
            "$ref": "#/components/schemas/AlphaResearchResponse"
          },
          "value": {
            "$ref": "#/components/schemas/AlphaResearchResponse"
          }
        },
        "type": "object",
        "required": [
          "ticker",
          "status",
          "growth",
          "value"
        ],
        "title": "AlphaComparisonResponse"
      },
      "AlphaResearchRequest": {
        "properties": {
          "ticker": {
            "type": "string",
            "maxLength": 16,
            "minLength": 1,
            "title": "Ticker",
            "examples": [
              "AAPL"
            ]
          }
        },
        "type": "object",
        "required": [
          "ticker"
        ],
        "title": "AlphaResearchRequest"
      },
      "AlphaResearchResponse": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "mode": {
            "type": "string",
            "enum": [
              "growth",
              "value"
            ],
            "title": "Mode"
          },
          "ticker": {
            "type": "string",
            "title": "Ticker"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "report": {
            "type": "string",
            "title": "Report"
          },
          "saved": {
            "type": "boolean",
            "title": "Saved"
          },
          "persistence_warning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Persistence Warning"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "mode",
          "ticker",
          "status",
          "report",
          "saved"
        ],
        "title": "AlphaResearchResponse"
      },
      "ApiInfoResponse": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "version": {
            "type": "string",
            "title": "Version"
          },
          "status": {
            "type": "string",
            "const": "ok",
            "title": "Status",
            "default": "ok"
          },
          "links": {
            "$ref": "#/components/schemas/ApiLinks"
          }
        },
        "type": "object",
        "required": [
          "name",
          "version",
          "links"
        ],
        "title": "ApiInfoResponse"
      },
      "ApiLinks": {
        "properties": {
          "swagger": {
            "type": "string",
            "title": "Swagger"
          },
          "redoc": {
            "type": "string",
            "title": "Redoc"
          },
          "openapi": {
            "type": "string",
            "title": "Openapi"
          },
          "health": {
            "type": "string",
            "title": "Health"
          },
          "agents": {
            "type": "string",
            "title": "Agents"
          }
        },
        "type": "object",
        "required": [
          "swagger",
          "redoc",
          "openapi",
          "health",
          "agents"
        ],
        "title": "ApiLinks"
      },
      "ApiResponse": {
        "properties": {
          "result": {
            "type": "string",
            "title": "Result"
          },
          "status": {
            "type": "string",
            "title": "Status"
          }
        },
        "type": "object",
        "required": [
          "result",
          "status"
        ],
        "title": "ApiResponse",
        "description": "Legacy response wrapper (markdown string)."
      },
      "AuthRequest": {
        "properties": {
          "email": {
            "type": "string",
            "title": "Email"
          },
          "password": {
            "type": "string",
            "title": "Password"
          }
        },
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "title": "AuthRequest"
      },
      "AuthResponse": {
        "properties": {
          "token": {
            "type": "string",
            "title": "Token"
          },
          "user_id": {
            "type": "string",
            "title": "User Id"
          },
          "email": {
            "type": "string",
            "title": "Email"
          }
        },
        "type": "object",
        "required": [
          "token",
          "user_id",
          "email"
        ],
        "title": "AuthResponse"
      },
      "AutonomyScoutRequest": {
        "properties": {
          "strategy": {
            "type": "string",
            "title": "Strategy",
            "description": "Strategy slug or registered strategy name",
            "default": "btd"
          },
          "limit": {
            "type": "integer",
            "maximum": 20.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 5
          },
          "account_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Id",
            "description": "Owned paper account UUID"
          }
        },
        "type": "object",
        "title": "AutonomyScoutRequest"
      },
      "AutonomyScoutResponse": {
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "no_candidates"
            ],
            "title": "Status"
          },
          "run_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Run Id"
          },
          "paper_only": {
            "type": "boolean",
            "title": "Paper Only",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "AutonomyScoutResponse"
      },
      "BacktestRequest": {
        "properties": {
          "account_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Id",
            "description": "Specific AlpaTrade account_id snippet to run the backtest under (optional)"
          },
          "lookback": {
            "type": "string",
            "title": "Lookback",
            "description": "Lookback period, e.g. '3m', '6m', '1y'",
            "default": "3m"
          },
          "symbols": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Symbols",
            "description": "Comma-separated symbols, e.g. 'AAPL,MSFT'"
          },
          "strategy": {
            "type": "string",
            "title": "Strategy",
            "description": "Strategy name: buy_the_dip, vix, momentum, box_wedge",
            "default": "buy_the_dip"
          },
          "capital": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Capital",
            "description": "Initial capital in USD"
          },
          "hours": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Hours",
            "description": "'regular' or 'extended'"
          },
          "intraday_exit": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Intraday Exit",
            "description": "Use 5-min intraday bars for TP/SL exits"
          },
          "pdt": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pdt",
            "description": "Enforce PDT rule (default True, set False for >$25k accounts)"
          }
        },
        "type": "object",
        "title": "BacktestRequest",
        "examples": [
          {
            "capital": 10000,
            "lookback": "3m",
            "strategy": "buy_the_dip"
          }
        ]
      },
      "BacktestResponse": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "strategy": {
            "type": "string",
            "title": "Strategy"
          },
          "total_variations": {
            "type": "integer",
            "title": "Total Variations",
            "default": 0
          },
          "best_config": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BestConfig"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "title": "Status",
            "default": "completed"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "strategy"
        ],
        "title": "BacktestResponse"
      },
      "BestConfig": {
        "properties": {
          "sharpe_ratio": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sharpe Ratio"
          },
          "total_return": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Return"
          },
          "annualized_return": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Annualized Return"
          },
          "total_pnl": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Pnl"
          },
          "win_rate": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Win Rate"
          },
          "total_trades": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Trades"
          },
          "max_drawdown": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Drawdown"
          },
          "params": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Params"
          }
        },
        "type": "object",
        "title": "BestConfig"
      },
      "CmdRequest": {
        "properties": {
          "command": {
            "type": "string",
            "title": "Command"
          }
        },
        "type": "object",
        "required": [
          "command"
        ],
        "title": "CmdRequest"
      },
      "DailyPnl": {
        "properties": {
          "date": {
            "type": "string",
            "title": "Date"
          },
          "pnl": {
            "type": "number",
            "title": "Pnl",
            "default": 0
          },
          "trade_count": {
            "type": "integer",
            "title": "Trade Count",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "date"
        ],
        "title": "DailyPnl"
      },
      "FullCyclePhase": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status"
          },
          "run_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Run Id"
          },
          "detail": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Detail"
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "FullCyclePhase"
      },
      "FullCycleRequest": {
        "properties": {
          "account_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Id"
          },
          "lookback": {
            "type": "string",
            "title": "Lookback",
            "default": "3m"
          },
          "duration": {
            "type": "string",
            "title": "Duration",
            "default": "7d"
          },
          "symbols": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Symbols"
          },
          "strategy": {
            "type": "string",
            "title": "Strategy",
            "default": "buy_the_dip"
          },
          "capital": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Capital"
          },
          "hours": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Hours"
          },
          "intraday_exit": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Intraday Exit"
          },
          "pdt": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pdt"
          },
          "poll": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Poll"
          }
        },
        "type": "object",
        "title": "FullCycleRequest"
      },
      "FullCycleResponse": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "phases": {
            "additionalProperties": {
              "$ref": "#/components/schemas/FullCyclePhase"
            },
            "type": "object",
            "title": "Phases"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "status"
        ],
        "title": "FullCycleResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "LogsResponse": {
        "properties": {
          "lines": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Lines"
          },
          "total_lines": {
            "type": "integer",
            "title": "Total Lines"
          }
        },
        "type": "object",
        "required": [
          "lines",
          "total_lines"
        ],
        "title": "LogsResponse"
      },
      "OrderRequest": {
        "properties": {
          "symbol": {
            "type": "string",
            "maxLength": 16,
            "minLength": 1,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9.-]*$",
            "title": "Symbol",
            "examples": [
              "AAPL"
            ]
          },
          "qty": {
            "type": "number",
            "exclusiveMinimum": 0.0,
            "title": "Qty",
            "examples": [
              1
            ]
          },
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ],
            "title": "Side",
            "default": "buy",
            "examples": [
              "buy"
            ]
          },
          "order_type": {
            "type": "string",
            "enum": [
              "market",
              "limit"
            ],
            "title": "Order Type",
            "default": "market",
            "examples": [
              "limit"
            ]
          },
          "limit_price": {
            "anyOf": [
              {
                "type": "number",
                "exclusiveMinimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit Price",
            "description": "Required for a limit order.",
            "examples": [
              180.0
            ]
          },
          "time_in_force": {
            "type": "string",
            "enum": [
              "day",
              "gtc"
            ],
            "title": "Time In Force",
            "default": "day",
            "examples": [
              "day"
            ]
          }
        },
        "type": "object",
        "required": [
          "symbol",
          "qty"
        ],
        "title": "OrderRequest"
      },
      "OrderResponse": {
        "properties": {
          "ok": {
            "type": "boolean",
            "title": "Ok"
          },
          "order_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Order Id"
          },
          "symbol": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Symbol"
          },
          "qty": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Qty"
          },
          "side": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Side"
          },
          "order_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Order Type"
          },
          "limit_price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit Price"
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status"
          },
          "paper": {
            "type": "boolean",
            "title": "Paper",
            "default": true
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error"
          }
        },
        "type": "object",
        "required": [
          "ok"
        ],
        "title": "OrderResponse"
      },
      "PaperRequest": {
        "properties": {
          "account_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Id",
            "description": "Specific AlpaTrade account_id UUID to paper trade under (optional)"
          },
          "duration": {
            "type": "string",
            "title": "Duration",
            "description": "Paper trading duration, e.g. '1h', '7d', '1m'",
            "default": "7d"
          },
          "symbols": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Symbols"
          },
          "strategy": {
            "type": "string",
            "title": "Strategy",
            "default": "buy_the_dip"
          },
          "poll": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Poll",
            "description": "Poll interval in seconds"
          },
          "hours": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Hours"
          },
          "email": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email",
            "description": "Send daily P&L email reports"
          },
          "pdt": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pdt"
          }
        },
        "type": "object",
        "title": "PaperRequest",
        "examples": [
          {
            "duration": "7d",
            "strategy": "buy_the_dip"
          }
        ]
      },
      "PaperStartResponse": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "default": "started"
          },
          "strategy": {
            "type": "string",
            "title": "Strategy"
          },
          "symbols": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Symbols"
          },
          "duration": {
            "type": "string",
            "title": "Duration"
          },
          "poll_interval": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Poll Interval"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "strategy",
          "duration"
        ],
        "title": "PaperStartResponse"
      },
      "PnlResponse": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "strategy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Strategy"
          },
          "mode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mode"
          },
          "total_pnl": {
            "type": "number",
            "title": "Total Pnl",
            "default": 0
          },
          "total_return": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Return"
          },
          "total_fees": {
            "type": "number",
            "title": "Total Fees",
            "default": 0
          },
          "win_rate": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Win Rate"
          },
          "winning_trades": {
            "type": "integer",
            "title": "Winning Trades",
            "default": 0
          },
          "losing_trades": {
            "type": "integer",
            "title": "Losing Trades",
            "default": 0
          },
          "total_trades": {
            "type": "integer",
            "title": "Total Trades",
            "default": 0
          },
          "sharpe_ratio": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sharpe Ratio"
          },
          "per_symbol": {
            "items": {
              "$ref": "#/components/schemas/PnlSymbolBreakdown"
            },
            "type": "array",
            "title": "Per Symbol"
          },
          "daily_pnl": {
            "items": {
              "$ref": "#/components/schemas/DailyPnl"
            },
            "type": "array",
            "title": "Daily Pnl"
          }
        },
        "type": "object",
        "required": [
          "run_id"
        ],
        "title": "PnlResponse"
      },
      "PnlSymbolBreakdown": {
        "properties": {
          "symbol": {
            "type": "string",
            "title": "Symbol"
          },
          "total_pnl": {
            "type": "number",
            "title": "Total Pnl",
            "default": 0
          },
          "total_fees": {
            "type": "number",
            "title": "Total Fees",
            "default": 0
          },
          "trade_count": {
            "type": "integer",
            "title": "Trade Count",
            "default": 0
          },
          "win_count": {
            "type": "integer",
            "title": "Win Count",
            "default": 0
          },
          "loss_count": {
            "type": "integer",
            "title": "Loss Count",
            "default": 0
          },
          "avg_pnl": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avg Pnl"
          }
        },
        "type": "object",
        "required": [
          "symbol"
        ],
        "title": "PnlSymbolBreakdown"
      },
      "PositionItem": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "symbol": {
            "type": "string",
            "title": "Symbol"
          },
          "side": {
            "type": "string",
            "title": "Side"
          },
          "shares": {
            "type": "number",
            "title": "Shares"
          },
          "avg_entry_price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avg Entry Price"
          },
          "current_price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Price"
          },
          "market_value": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Market Value"
          },
          "unrealized_pnl": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Unrealized Pnl"
          },
          "unrealized_pnl_pct": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Unrealized Pnl Pct"
          },
          "cost_basis": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cost Basis"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "default": "open"
          },
          "opened_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Opened At"
          },
          "closed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Closed At"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "symbol",
          "side",
          "shares"
        ],
        "title": "PositionItem"
      },
      "PositionsResponse": {
        "properties": {
          "positions": {
            "items": {
              "$ref": "#/components/schemas/PositionItem"
            },
            "type": "array",
            "title": "Positions"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          }
        },
        "type": "object",
        "required": [
          "positions",
          "total"
        ],
        "title": "PositionsResponse"
      },
      "PremarketAgentRequest": {
        "properties": {
          "refresh": {
            "type": "boolean",
            "title": "Refresh",
            "description": "Fetch a new scan instead of using the latest saved report",
            "default": false
          },
          "limit": {
            "type": "integer",
            "maximum": 50.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 10
          }
        },
        "type": "object",
        "title": "PremarketAgentRequest"
      },
      "PremarketAgentResponse": {
        "properties": {
          "agent": {
            "type": "string",
            "title": "Agent"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "report": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Report"
          },
          "top": {
            "additionalProperties": true,
            "type": "object",
            "title": "Top"
          }
        },
        "type": "object",
        "required": [
          "agent",
          "status"
        ],
        "title": "PremarketAgentResponse"
      },
      "ReconcileRequest": {
        "properties": {
          "account_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Id"
          },
          "window_days": {
            "type": "integer",
            "title": "Window Days",
            "description": "Number of days to reconcile",
            "default": 7
          }
        },
        "type": "object",
        "title": "ReconcileRequest"
      },
      "ReconcileResponse": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "total_issues": {
            "type": "integer",
            "title": "Total Issues",
            "default": 0
          },
          "position_mismatches": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Position Mismatches"
          },
          "trade_mismatches": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Trade Mismatches"
          },
          "pnl_comparison": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pnl Comparison"
          },
          "missing_trades": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Missing Trades"
          },
          "extra_trades": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Extra Trades"
          }
        },
        "type": "object",
        "required": [
          "run_id",
          "status"
        ],
        "title": "ReconcileResponse"
      },
      "RegisterRequest": {
        "properties": {
          "email": {
            "type": "string",
            "title": "Email"
          },
          "password": {
            "type": "string",
            "title": "Password"
          },
          "display_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Display Name"
          }
        },
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "title": "RegisterRequest"
      },
      "ReportDetail": {
        "properties": {
          "run_id": {
            "type": "string",
            "title": "Run Id"
          },
          "mode": {
            "type": "string",
            "title": "Mode"
          },
          "strategy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Strategy"
          },
          "strategy_slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Strategy Slug"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "initial_capital": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Initial Capital"
          },
          "final_capital": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Final Capital"
          },
          "total_pnl": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Pnl"
          },
          "total_return": {
            "anyOf": [
              {
                "type": "number"
[...]
